@import '../../scss/vars';

.wrapper {
  position: relative;
  //   max-width: 2560px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 44px 80px 26px 80px;
  background: $themeDark;
}

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  //   max-width: 2560px;
  padding-inline: 80px;
  padding-bottom: 33px;
  background: $themeDark;
}

.avatar {
  height: 55px;
  width: 55px;
  margin-right: 27px;

  @include XL {
    margin-right: 142px;
  }
}

.title {
  flex-grow: 2;
  color: $white;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  grid-gap: 23px;
  justify-self: flex-end;
}

.buttonAddProject {
  display: flex;
  align-items: center;
  grid-gap: 10.5px;
  padding: 10.5px 20.5px 10.5px 10.5px;
  border-radius: 63.5px;
  background: $green;
  color: $white;
  font-weight: 600;
}

.container {
  position: relative;
  display: flex;
  margin-top: 129px;
}

.content {
  width: 100%;
  margin-left: 403px;
}

.contentMax {
  width: 100%;
  margin-left: 108px;
}
