$default: #121212;

$themeDark: var(--theme-dark);
$themeWhite: var(--theme-white);
$grayDisable: var(--grey-disable);
$greyDisableSecondary: var(--grey-disable-secondary);
$dark: var(--dark);
$white: var(--white);
$green: var(--green);
$grayLight: var(--grayLight);
$grayDark: var(--grayDark);
$blue: var(--blue);
